<form id='add-review'>
  <h1 class='text-center'>Add Review</h1>
  <div class='mb-3'>

    <input
      type='text'
      class='form-control review'
      id='exampleInputEmail1'
      aria-describedby='emailHelp'
      placeholder='ADD REVIEW'
    />

  </div>

  <button type='submit' class='btn btn-primary form-control'>Submit</button>
</form>