<h1 class='text-center'>
  Single movie
</h1>
{{#each movies as |movie|}}
  <div class='w-70 bg-info bg-gradient m-4 p-2 d-flex justify-content-between align-items-center'>
    {{movie.movie_name}}
    <div class='d-flex justify-content-between gap-2'>
      <button class='btn btn-danger delete_btn' data-movie_id='{{movie.movie_id}}'>Delete</button>

      {{! edit button }}
      <button type='button' class='btn btn-success px-4' data-bs-toggle='modal' data-bs-target='#exampleModal'>
        Edit
      </button>
    </div>

  </div>
{{/each}}

<!-- Modal -->
<div class='modal fade' id='exampleModal' tabindex='-1' aria-labelledby='add-movie' aria-hidden='true'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='exampleModalLabel'>EDIT MOVIE</h5>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
      </div>
      <div class='modal-body'>
        <form id='edit_btn'>
          {{#each movies as |movie|}}
            <input
              type='text'
              value='{{movie.movie_name}}'
              class='movie-name form-control mb-2'
              placeholder='Movie name'
            />
            <input type='hidden' class='movie-id' value='{{movie.movie_id}}' />
          {{/each}}
          <input type='submit' class='btn btn-success form-control' value='Edit Movie' />
        </form>
      </div>

    </div>
  </div>
</div>

<script src='/js/delete-movie.js'></script>
<script src='/js/edit-movie.js'></script>